* {
    margin: auto;
    padding: 0;
}

.body {
    font-family: 'DM Serif Text';
    color: #e1dcd9;
    min-height: 75rem;
    padding-top: 4.5rem;
}

.container {
    width: 100%;
}



/*-------Navbar------*/

.navbar {
    width: 100%;
    height: 100%;
    background-color:#8f6e64;
    opacity: 1.0;
    filter: alpha(opacity=100);
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
    transition: left .8s cubic-bezier(1,0,0,1);
    z-index: 5;
}

.navbar:hover {
    opacity: 0.8;
    filter: alpha(opacity=100);
}

.change {
    left: 0;
}

.hamburger-menu {
    width: 49px;
    height: 44px;
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 425px) {
    div.hamburger-menu {
       width: 32px;
       height: 36px;
       position: fixed;
       top: 50px;
       left: 50px;
       cursor: pointer;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
  }
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-11px,9px);
}
.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-11px,-9px);
}

.nav-list {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .line {
        width: 100%;
        height: 3px;
        background-color: black;
        transition: all 0.8s;
      }

      .change .line-1 {
        transform: rotateZ(-405deg) translate(-10px, 7px);
      }

      .change .line-2 {
        opacity: 0;
      }

      .change .line-3 {
        transform: rotateZ(405deg) translate(-10px, -7px);
      }
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 60px;
    color:white;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "DM Serif Text";
}

@media screen and (max-width: 425px) {
    a.nav-link {
        text-decoration: none;
        font-size: 40px;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: "DM Serif Text";
    }

    .nav-list {
        text-align: center;
        padding: 48px;
    }

    .navbar {
        padding: 0;
        z-index: 1;
    }
}

.nav-link:hover {
    color: black;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color:#e1dcd9;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;

}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

/*-------Icon bar------*/

.icon-bar {
    position: fixed;
    top: 20%;
    left: 95%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:1;

}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 425px) {
    div.icon-bar {
      display: none;
    }
}

/*-------Logo------*/

.logo {
    position: fixed;
    top: 7%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 425px) {
    .logo {
       margin: 10px 20px 20px 10px;
       width: 120px;
       padding-left: 2px;
       left: 190px;
       z-index: 2;
    }

    .logo img{
        width: 120px;
        height: auto;
      }


}




/*-------Content 12------*/

.contact-01 {
    display: block;
    color:#32363c;
    background-color: #e1dcd9;
    font-size: 15vw;
    position: absolute;
    font-family: "DM Serif Display";
    z-index:-1;
    height: 16.5vw;
    left: 0%;
    padding-left: 10%;
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact-02 {
    display: block;
    color:#e1dcd9;
    background-color: #8f6e64;
    font-size: 15vw;
    position: absolute;
    font-family: "DM Serif Display";
    z-index:-1;
    padding-left: 34%;
    height: 16.5vw;
    left: 0%;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body01{

    font-size:40px;
    font-weight: 400;
    color:#32363C;
		position: absolute;
    left: 660px;
    top: 400px;
    font-family: 'DM Serif Text';
  }
  @media screen and (max-width: 425px) {
	div.body01{
		left:30%;
    top:25%;
		font-size: 8vw;
		margin-block-start: 5em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
}

.body02{

    font-size:20px;
    font-weight: 400;
    color:#32363C;
		position:absolute;
		left:710px;
    top:480px;
		font-family:'DM Serif Text';

  }
    @media screen and (max-width: 425px) {
    div.body02{
      left:40%;
      top:40%;
      font-size: 4vw;
      margin-block-start: 5em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }


}
.body03{

    font-size:24px;
    font-weight: normal;
    color:#32363C;
		position:absolute;
		left:670px;
		top:600px;
		font-family:'DM Serif Text';

}
  @media screen and (max-width: 425px) {
  div.body03{
    left:25%;
    top:50%;
    font-size: 6vw;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


}

	.body04{
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 31px;
		display: flex;
		align-items: center;
		letter-spacing: 10px;
		color:#32363C;
		position:absolute;
		left:680px;
		opacity: 0.4;
	}
.body05{
font-family: 'DM Sans';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
letter-spacing: 10px;
color:#32363C;
position:absolute;
left:514px;
top:1900px;
text-align: left;

}
@media screen and (max-width:425px) {
div.body05{
	left:25%;
	top:170%;
	font-size: 3vw;
	letter-spacing: 4px;
	line-height: 18px;
}


}
	.body06{
		font-family: 'DM Serif Text';
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 31px;
		display: flex;
		align-items: center;
		color:#black;
		position:absolute;
		left:515px;
		top:2100px;
		text-align: left;

  }
  @media screen and (max-width:425px) {
  div.body06{
    left:25%;
    top:185%;
    font-size: 4vw;
    letter-spacing: 1px;
    line-height: 18px;
  }


	}
	.body07{
		font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height:2;
	letter-spacing: 10px;
		display: flex;
		align-items: center;
		color:black;
		position:absolute;
		left:515px;
		top:2150px;
		text-align: left;

  }
  @media screen and (max-width:425px) {
  div.body07{
    left:25%;
    top:188%;
    font-size: 4vw;
    letter-spacing: 2px;
    line-height: 30px;
  }




	}

	.body08{
		font-family: 'DM Serif Text';
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 3.5;
		letter-spacing: 10px;
		display: flex;
		align-items: center;
		color:#32363C;
		position:absolute;
		left:900px;
		top:2150px;
		text-align: left;

  }
  @media screen and (max-width:425px) {
  div.body08{
    left:55%;
    top:188%;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 30px;
  }



	}
	.body09{
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 560;
		font-size: 45px;
		line-height: 70px;
		display: flex;
		align-items: center;
		color:#8F6E64;
		position:absolute;
		left:515px;
		top:2400px;
		text-align: left;

  }
  @media screen and (max-width:425px) {
    div.body09{
      left:25%;
      top:200%;
      font-size: 4vw;
      letter-spacing: 4px;
      line-height: 30px;
    }


	}
	.body10{
		font-family: 'DM Serif Text';
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 31px;
		display: flex;
		align-items: center;
		color:#32363C;
		position:absolute;
		left:515px;
		top:2600px;
		text-align: left;

  }
  @media screen and (max-width:425px) {
    div.body10{
      left:25%;
      top:209%;
      font-size: 5vw;
      letter-spacing: 1px;

    }




  }

	.body11{
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 31px;
		display: flex;
		align-items: center;
		color:#32363C;
		position:absolute;
		left:515px;
		top:2700px;
		text-align: left;
		letter-spacing: 10px;

  }
  @media screen and (max-width:425px) {
    div.body11{
      left:25%;
      top:213%;
      font-size: 3.5vw;
      letter-spacing: 3px;

    }



	}
	.body12{
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: normal;
		line-height: 4;
		font-size:16px;
		display: flex;
		align-items: center;
		color:#32363C;
		position:absolute;
		left:515px;
		top:2800px;
		text-align: left;
		letter-spacing: 10px;
    padding-bottom: 100px;
  }
  @media screen and (max-width:425px) {
    div.body12{
      left:25%;
      top:219%;
      font-size: 3.5vw;
      letter-spacing: 3px;

    }

  }


.text-icon01{
    text-align: center;
    font-size: 400px;
    font-weight: 600;
    position: absolute ;
    left: 750px;
    top: 100px;
    color: #8F6E64;
    height: 31px;
  }
  @media screen and (max-width:425px) {
    div.text-icon01{
      left:50%;
      top:2%;

    }
}
.text-icon02 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 1900px;
  }
	@media screen and (max-width:425px) {
		div.text-icon02{
			left:10%;
			top:170%;
		}

}
.text-icon03 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 2100px;

	}
	@media screen and (max-width:425px) {
		div.text-icon03{
			left:10%;
			top:183%;
		}
}
.text-icon04 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 2690px;
	}
	@media screen and (max-width:425px) {
		div.text-icon04{
			left:10%;
			top:211%;
		}
}
.text-icon05 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 2800px;
	}
	@media screen and (max-width:425px) {
		div.text-icon05{
			left:11%;
			top:219%;
			font-size: 20px;
		}
}
.text-icon06 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 2860px;
	}
	@media screen and (max-width:425px) {
		div.text-icon06{
			left:11%;
			top:225%;
			font-size: 20px;
		}
}
.text-icon07 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 10px;
    position: absolute ;
    height: 31px;
    left: 400px;
    top: 2930px;
	}
	@media screen and (max-width:425px) {
		div.text-icon07{
			left:11%;
			top:231%;
			font-size: 20px;
		}
}


.circle{
font-family:DM Serif Display;
color:#8F6E64;
font-size: 120px;
font-weight: 500;
line-height: 160px;
position: absolute ;
height: 160px;
width: 160px;
left: 736px;
top: 200px;

}
@media screen and (max-width: 425px) {
div.circle{
	left:45%;
	top:20%;

}
}


#circle01 {
  position: absolute;
    top:200px;
    left: 690px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: transparent;
    border: 3px solid #8F6E64;
  }

  @media screen and (max-width: 425px) {
#circle01{
    position: absolute;
    left:32%;
  	top:21%;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: transparent;
    border: 3px solid #8F6E64;
  }


    }
.button {
  background-color: #8F6E64;

}



.button02 {
  background-color: #8F6E64;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: DM Serif Display;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 400px;
  height: 100px;
  position: absolute;
  left: 560px;
  top: 700px;
}

@media screen and (max-width: 425px) {
button.button02{
  position: absolute;
  left:25%;
	top:80%;
  width: 200px;
  height:40px;
  font-size: 4vw;
}
}

.button02:hover {
  background-color: #E1DCD9;
  color:#8F6E64;
   border: 2px solid #8F6E64;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   font-family: DM Serif Display;
   transition-duration: 0.4s;
   cursor: pointer;
   width: 400px;
   height: 100px;
   position: absolute;
   left: 560px;
   top: 700px;
}
@media screen and (max-width: 425px) {
button.button02{
  position: absolute;
  left:25%;
	top:80%;
  width: 200px;
  height:40px;
  font-size: 4vw;
}
}

/*-------Cursor------*/
.cursor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    transform: translate3d(-50%,-50%,0);
    top: 0;
    left: 0;
    background-color: white;
    pointer-events: none;
}

.cursor2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    position: fixed;
    transform: translate3d(-50%,-50%,0);
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.1s ease-out;
}

@media screen and (max-width: 768px) {
    div.cursor{
      display: none;
    }
}

@media screen and (max-width: 768px) {
    div.cursor2{
      display: none;
    }
}
