section{
  margin-top: 200px;
}

.logo {
  width: 100%;
  height: 86px;
  padding: 15px 0px 0px 600px;
  z-index: 2;
}

.logo img{
  z-index: 2;
}




.footer-container {
  height: 696px;
  width: 100%;
  margin: 0;
  padding-top: 238px;
}

.back-container {
  top: 0;
  width: 100%;
  height: 129px;
  text-align: right;
  padding-right: 161px;
}

.text-back {
  position: relative;
  top: -38px;
}

.arrow-container {
  width: 100%;
  margin-top: 100px;
  margin-left: 76%;
}

/*-------Navbar------*/
.navbar {
  width: 100%;
  height: 100%;
  background-color: #8f6e64;
  opacity: 1.0;
  filter: alpha(opacity=100);
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1%;
  transition: left .8s cubic-bezier(1, 0, 0, 1);
  z-index: 3;
}

.navbar:hover {
  opacity: 0.8;
  filter: alpha(opacity=100);
}

.change {
  left: 0;
}

.hamburger-menu {
  width: 49px;
  height: 44px;
  position: fixed;
  top: 50px;
  left: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-11px, 9px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-11px, -9px);
}

.nav-list {
  text-align: center;
  padding-left: 300px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 60px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "DM Serif Text";
}

.nav-link:hover {
  color: black;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e1dcd9;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

/*-------Icon bar------*/
.icon-bar {
  position: fixed;
  top: 20%;
  left: 95%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: transparent;
  color: white;
}

/*-------Logo------*/
.logo {
  position: fixed;
  top: 7%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
}



/*-------Content------*/
.text {
    position: absolute;
    height: 167px;
    margin-left: 150px;
    padding-top: 100px;
}

.row>* {
  padding: 0;
}

.row{
  height: 500px;
}

.image {
  width: 100%;
  height: 500px;
  padding: 0;
}




/*------Cursor------*/
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  background-color: white;
  pointer-events: none;
  z-index: 5;
}

.cursor2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.1s ease-out;
  z-index: 5;
}






@media only screen and (max-width: 600px) {
  section{
    margin-top: 150px;
  }



  .hamburger-menu {
    width: 32px;
    height: 36px;
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
  }

  .change .line-1 {
    transform: rotateZ(-405deg) translate(-10px, 7px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotateZ(405deg) translate(-10px, -7px);
  }

  .nav-list {
    text-align: center;
    padding-left: 300px;
  }





  .navbar {
    padding: 0;
    z-index: 1;
  }

  .nav-list {
    text-align: center;
    padding: 48px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "DM Serif Text";
  }




  .logo {
    margin: 10px 20px 20px 10px;
    width: 120px;
    padding-left: 2px;
    left: 190px;
    z-index: 2;
    /*border: 1px black solid;*/
  }

  .logo img{
    width: 120px;
    height: auto;
  }

  .icon-bar {
    visibility:hidden;
  }


  .row>* {
    padding: 0;
  }

  .row{
        height: 145.90px;
  }

  .image{
    width: 100%;
    height: auto;
  }

  .text {
    height: 41px;
    margin-left: 0px;
    padding-top: 50px;
    padding-left: 50px;
  }


  .cursor {
    visibility: hidden;
  }

  .cursor2{
    visibility: hidden;
  }






  .footer-container {
    height: 208px;
    width: 100%;
    margin: 0;
    padding-top: 62px;
  }

  .back-container {
    top: 0;
    width: 100%;
    height: 44px;
    text-align: right;
    padding-right: 161px;
  }

  .text-back {
    position: relative;
    top: -11px;
    left: 105px;
  }

  .arrow-container {
    width: 100%;
    margin-top: 15px;
    margin-left: 76%;
  }

  .arrow-container img {
    width: 58.8px;
    height: 29.4px;
  }
}
