.text{

    font-size:220px;
    font-weight: 400;
    line-height: 205.65px;
    color:white;
    font-family:serif;
}




/*----backbutton----*/
.backbutton {
  background-color: #8F6E64;
  border: none;
  color: white;
  height: 260px;
  width: 100%;
  text-align: right;
  padding-right: 120px;
  text-decoration: none;
  display: inline-block;
  font-size: 180px;
  font-family: "DM Serif Text";
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 250px;
  z-index:-2;
}

.backbutton {
  background-color: #8F6E64;
  color: #E1DCD9;
}

.backbutton:hover {
  background-color: #ADAEB1;
  color: #E1DCD9;
}



/*---Back Icon---*/
.material-icons{
  font-size: 250px;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 70px;
}

.backicon {
    position: absolute;
    padding-top: 200px;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:-2;

}

.backicon a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: #8F6E64;
}

.backicon a:hover {
    background-color: transparent;
    color: #ADAEB1;
}




.footer-container{
background-color:#E1DCD9

}

.back-container{
background-color:#8F6E64;
}

.text-back{
    font-size:200px;
    font-weight: 600;
    color:#E1DCD9;
    font-family:serif;

}


.header-container{
background-color: #E1DCD9;

}






@media only screen and (max-width: 600px){
    .text{

        font-size:60px;
        font-weight: 400;
        line-height: 41.13px;
        color:white;
        font-family:serif;
    }

    .text-back{
        font-size:70px;
        font-weight: 600;
        color:#E1DCD9;
        font-family:serif;

    }





    /*----backbutton----*/
    .backbutton {
      background-color: #8F6E64;
      border: none;
      color: white;
      height: 100px;
      width: 100%;
      text-align: right;
      padding-right: 60px;
      text-decoration: none;
      display: inline-block;
      font-size: 60px;
      font-family: "DM Serif Text";
      transition-duration: 0.4s;
      cursor: pointer;
      margin-top: 100px;
      z-index:-2;
    }

    .backbutton {
      background-color: #8F6E64;
      color: #E1DCD9;
    }

    .backbutton:hover {
      background-color: #ADAEB1;
      color: #E1DCD9;
    }



    /*---Back Icon---*/
    .material-icons{
      font-size: 100px;
      margin-top: 20px;
      margin-bottom: 100px;
      margin-right: 40px;
    }

    .backicon {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index:-2;

    }

    .backicon a {
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        color: #8F6E64;
    }

    .backicon a:hover {
        background-color: transparent;
        color: #ADAEB1;
    }


}
