/*----content 01----*/
.text01{

    font-size:220px;
    font-weight: 400;
    line-height: 205.65px;
    color:white;
    font-family:DM Serif Display;
}


/*----content 02----*/
.text02{
    font-size:240px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;
    color: #8F6E64;
    font-family:DM Serif Display;
}


.text03{

    font-size: 100px;
    font-weight: 200;
    line-height: 95px;
    text-align: left;
    color: white;
    font-family:DM Serif Display;
}


.text04{
    font-size:100px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: #6E5752;
    font-family:DM Serif Display;
}

.text05{
    font-size:64px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: white;
    font-family:DM Serif Display;
}

.text06{
    font-size:64px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: #32363C;
    font-family:DM Serif Display;
}

/*----content 03----*/
.text07{
    font-size:240px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;
    color: #8F6E64;
    font-family:DM Serif Display;
}

.text08{
    font-size:64px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;
    color: #32363C;
    font-family:DM Serif Display;
}


/*----content 04----*/
.text09{
    font-size:240px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;
    color: #8F6E64;
    font-family:DM Serif Display;
}

.text10{
    font-size:64px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;
    color: #32363C;
    font-family:DM Serif Display;
}

.text11{
    font-size:64px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: #E1DCD9;
    font-family:DM Serif Display;
}






/*CATEGORY COMPONENT START HERE*/
.text16{

    font-size:300px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: #32363C;
    font-family:DM Serif Display;
}

.text17{

    font-size:220px;
    font-weight: 400;
    line-height: 95px;
    text-align: right;
    color: white;
    font-family:DM Serif Display;
}



/*----lines----*/
.verticalline01 {
  border-left: 3px solid black;
  opacity: 40%;
  height: 500vw;
  position: absolute;
  right: 8.5%;
  top: 90%;
  z-index: -2;
}








/*----backbutton----*/
.backbutton {
  background-color: #8F6E64;
  border: none;
  color: white;
  height: 260px;
  width: 100%;
  text-align: right;
  padding-right: 120px;
  text-decoration: none;
  display: inline-block;
  font-size: 180px;
  font-family: "DM Serif Text";
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 0;
  z-index:-2;
}

.backbutton {
  background-color: #8F6E64;
  color: #E1DCD9;
}

.backbutton:hover {
  background-color: #ADAEB1;
  color: #E1DCD9;
}



/*---Back Icon---*/
.material-icons{
  font-size: 250px;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 70px;
}

.backicon {
    position: absolute;
    padding-top: 200px;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:-2;

}

.backicon a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: #8F6E64;
}

.backicon a:hover {
    background-color: transparent;
    color: #ADAEB1;
}









@media only screen and (max-width: 600px){
  /*----content 01----*/
  .text01{
      font-size:60px;
      font-weight: 400;
      line-height: 205.65px;
      color:white;
      font-family:DM Serif Display;
  }


  /*----content 02----*/
  .text02{

      font-size:100px;
      font-weight: 400;
      line-height: 50px;
      text-align: right;
      color: #8F6E64;
      font-family:DM Serif Display;
  }

  .text03{

      font-size: 30px;
      font-weight: 200;
      line-height: 95px;
      color: white;
      font-family:DM Serif Display;
  }


  .text04{

      font-size:30px;
      font-weight: 400;
      line-height: 95px;
      text-align: right;
      color: #6E5752;
      font-family:DM Serif Display;
  }

  .text05{

      font-size:22px;
      font-weight: 400;
      line-height: 95px;
      text-align: right;
      color: white;
      font-family:DM Serif Display;
  }


  .text06{

      font-size:22px;
      font-weight: 400;
      line-height: 30px;
      text-align: right;
      color: #32363C;
      font-family:DM Serif Display;
  }

  /*----content 03----*/
  .text07{
    font-size:100px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
    color: #8F6E64;
    font-family:DM Serif Display;
  }


  .text08{
      font-size:30px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      color: #32363C;
      font-family:DM Serif Display;
  }


  /*----content 04----*/
  .text09{
    font-size:100px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
    color: #8F6E64;
    font-family:DM Serif Display;
  }


  .text10{
    font-size:35px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #32363C;
    font-family:DM Serif Display;
  }

  .text11{
    font-size:35px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    font-family:DM Serif Display;
  }




  /*CATEGORY COMPONENT START HERE*/
  .text16{

      font-size:100px;
      font-weight: 400;
      line-height: 95px;
      text-align: right;
      color: #32363C;
      font-family:DM Serif Display;
  }

  .text17{

      font-size:50px;
      font-weight: 400;
      line-height: 95px;
      text-align: right;
      color: white;
      font-family:DM Serif Display;
  }




  /*----lines----*/
  .verticalline01 {
    border-left: 2px solid black;
    opacity: 40%;
    height: 600vw;
    position: absolute;
    right: 8.5%;
    top: 30%;
    z-index: -2;
  }






    /*----backbutton----*/
    .backbutton {
      background-color: #8F6E64;
      border: none;
      color: white;
      height: 100px;
      width: 100%;
      text-align: right;
      padding-right: 60px;
      text-decoration: none;
      display: inline-block;
      font-size: 60px;
      font-family: "DM Serif Text";
      transition-duration: 0.4s;
      cursor: pointer;
      margin-top: 0px;
      z-index:-2;
    }

    .backbutton {
      background-color: #8F6E64;
      color: #E1DCD9;
    }

    .backbutton:hover {
      background-color: #ADAEB1;
      color: #E1DCD9;
    }



    /*---Back Icon---*/
    .material-icons{
      font-size: 100px;
      margin-top: 20px;
      margin-bottom: 100px;
      margin-right: 40px;
    }

    .backicon {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index:-2;

    }

    .backicon a {
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        color: #8F6E64;
    }

    .backicon a:hover {
        background-color: transparent;
        color: #ADAEB1;
    }


}
